@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    margin: 0;
}

#content {
    display: flex;
}

#left-section {
    background-image: url('assets/a-city-skyline-at-night-with-lights-streaking-by.jpg');
    background-size: cover;
    height: 1300px;
    width: 35%;
}

#logo-section {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11em;
    width: 100%;
    position: relative;
    top: 15em;
}

#logo-section h1{
    font-family: norse-bold;
    font-size: 6rem;
}

#logo {
    background-image: url("assets/odin-lined.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 100%;
    height: 150px;
    width: 150px;
}


#right-section {
    width: 65%;
}

#blurb {
    /* padding: 15em; */
}