@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#content {
    display: flex;
    min-height: 100vh;
}

#left-section {
    background-image: url('assets/a-city-skyline-at-night-with-lights-streaking-by.jpg');
    background-size: cover;
    min-width: 35%;
}

#logo-background{
    background-color: black;
    height: 11em;
    width: 100%;
    position: relative;
    /* top: 20em; */
    top: 20%;
    background: rgba(0, 0, 0, .5);
}

#logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11em;
    width: 100%;
    position: relative;
}

#logo-section h1{
    font-family: norse-bold;
    font-size: 6rem;
    color: #fff;
    user-select: none;
    margin-left: -20px;
}

#logo {
    background-image: url("assets/odin-lined.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 100%;
    height: 150px;
    width: 150px;
}

#credits {
    position: fixed;
    color: #fff;
    left: 7%;
    bottom: 0;
    padding: 1rem;
}

#credits a {
    text-decoration: none; 
    color: #fff; 
}

#right-section {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: rgb(249,250,251);
}

#blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2em;
    margin-left: 5%;
    height: 30vh;
    width: 80vh;
    font-size: 1.2rem;
    font-weight: bold;
}

#blurb span {
    font-style: italic;
}

/* Form */

#form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding-top: 1em;
}

#form > h3{
    margin-left: 5%;
    font-size: 1.2rem;
}

#form form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 35vh;
    width: 65%;
}

#form .form-input {
    display: flex;
    margin: 20px;
    flex-direction: column;
    text-transform: uppercase;
    flex-basis:200px;
}

#form .form-input > label{
    font-size: 0.7rem;
    font-weight: bold;
    color: gray;
}

#form .form-input > input {
    outline: none;
    height: 20px;
    border: 1px solid #E5E7EB;
}

#form .form-input > input:focus {
    outline: none;
    border:1px solid blue;
    border-radius:0;
}
.form-password-error {
    border:1px solid red !important;
}

#password-error {
    font-size: 0.5em;
}

#sign-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
    margin-left: 5%;
}

#sign-up button {
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#sign-up p {
    margin-top: 1em;
}

/* Responsive design */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    #blurb {
        font-size: 18px;
    } 

    #form form {
        height: 35vh;
        width: 80%;
        padding-left: 2.5rem;
    }

    #form .form-input {
        flex-basis: 200px;
    }

    #credits {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    #blurb {
        width: 90%;
        font-size: 16px;
    } 

    #form form {
        height: 40vh;
        width: 95%;
        padding-left: 2.5rem;
    }

    #form .form-input {
        flex-basis: 150px;
        padding: 3px;
    }

    #credits {
        font-size: 0.7rem
    }

}

@media only screen and (min-width: 480px) and (max-width: 768px) { 

    #content {
        display: flex;
        flex-direction: column;
    }

    #left-section {
        min-width: 100%;
        background-size: cover;
        background-position: 0% 30%;
    }

    #credits {
        position: static;
        color: rgb(0, 0, 0);
        padding: 1.5rem;
    }
    
    #credits a {
        color: rgb(0, 0, 0);
    }

    #right-section {
        width: 100%;
    }
    
    #logo-section h1{
        font-size: 4rem;
    }

    #blurb {
        width: 90%;
        font-size: 1rem;
    } 

    #form form {
        height: 90vh;
        width: 100%;
        font-size: 0.8em;
    }
    #form .form-input {
        flex-basis: 350px;
        padding: 2px;
    }

    #sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20vh;
    }
    
    #sign-up button {
        margin-top: 1.5rem;
        padding: 10px 30px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) { 

    #content {
        display: flex;
        flex-direction: column;
    }

    #left-section {
        min-width: 100%;
        background-size: cover;
        background-position: 0% 30%;
    }

    #credits {
        position: static;
        color: rgb(0, 0, 0);
        padding: 1.5rem;
    }
    
    #credits a {
        color: rgb(0, 0, 0);
    }

    #right-section {
        width: 100%;
    }
    
    #logo-section h1{
        font-size: 4rem;
    }

    #blurb {
        width: 90%;
        font-size: 1rem;
    } 

    #form form {
        height: 90vh;
        width: 100%;
        font-size: 0.8em;
    }
    #form .form-input {
        flex-basis: 350px;
        padding: 2px;
    }

    #sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20vh;
    }
    
    #sign-up button {
        margin-top: 1.5rem;
        padding: 10px 30px;
        font-size: 16px;
    }
}